/* global style */

body {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


/* nav header */

header {
    background-color: #1D3557;
}

.navbar-brand {
    font-weight: 700;
    font-size: 2.5em;
}

.navbar-brand span {
    color: rgb(12, 123, 187);
}


/* home setion */

.home-text-section {
    margin: auto;
    padding: 2.5em 1em;
    font-family: 'Roboto', sans-serif;
}

.home-text-section hr,
.about-text-section hr {
    display: inline-block;
    margin: 0 10px;
    background-color: #457B9D;
    width: 80px;
}

.welcome-text,
.about-hello {
    font-size: 1.5em;
    font-weight: 700;
    color: #457B9D;
    margin-bottom: 0;
    display: inline-block;
}

.home-text-section h1 {
    font-size: 4em;
    margin: 0;
    background: linear-gradient(45deg, #f35106, #FA0078 60.71%);
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 1440px) {
    .home-text-section {
        padding: auto 0;
    }
    .home-text-section h1 {
        font-size: 6em;
    }
}

@media only screen and (max-width: 768px) {
    .home-text-section {
        padding: auto 0;
    }
    .home-text-section h1 {
        font-size: 3.5em;
    }
}

@media only screen and (max-width: 320px) {
    .home-text-section h1 {
        font-size: 3em;
    }
}

.home-text-section h2 {
    color: #457B9D;
    font-size: 1em;
    padding: 16px 0;
}

.home-img-section img {
    width: 100%;
}

.home-btn-section {
    padding: 1.5em 0;
    display: flex;
}

.home-btn-section .btn {
    margin: 0 10px;
}


/* about section styles */

.about-hello {
    padding: 20px 0;
}

.about-text-section {
    padding: 20px 32px;
}

.about-text-section::before {
    content: "Who we are";
    font-weight: bolder;
    font-size: 100px;
    color: #eee;
}

.about-content {
    color: #4d4d4d;
}

@media only screen and (min-width: 1440px) {
    #about-section {
        margin: 20px 0;
        padding: 32px 20px;
    }
}

@media only screen and (max-width: 768px) {
    .about-img-content img {
        padding: 60px 0;
    }
    .about-section {
        padding: 20px;
    }
    .about-text-section::before {
        content: "Who we are";
        font-weight: bolder;
        font-size: 40px;
        color: #eee;
    }
    .about-content {
        font-size: 0.8em;
    }
    .about-hello {
        font-size: 1em;
    }
}


/* services section */

#services {
    background: #201758;
    color: white;
}

.service-content {
    padding: 20px;
    margin: auto;
}

.service-content a {
    font-size: 1.2em;
    font-weight: bold;
}

.service-content h2 {
    font-size: 20px;
}

.service-content h1 {
    font-size: 72px;
    font-weight: 700;
}

.services-each {
    margin: 15px;
    background-color: #0A0048;
    border-radius: 32px;
    padding: 20px 30px;
}

.services-each:hover {
    background: linear-gradient(146.63deg, #B821ED 21.94%, #610183 77.91%);
}

.services-each h2 {
    font-size: 1.5em;
    padding: 10px 0;
}

.services-each p {
    font-size: 0.8em;
    color: rgb(216, 211, 211);
}