/*Style sheet content*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.btn-cta {
    background: linear-gradient(260.4deg, #51459D 26.51%, #AE00EB 83.82%);
    color: #F1FAEE;
    padding: 1em 2em;
    border-radius: 32px;
    margin-right: 2em;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    padding: 10px 20px;
}


/*header area*/

header {
    background-color: #1D3557;
    padding: 1em 4em;
    max-width: 100%;
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 25;
}

header .brand-name {
    color: #A8DADC;
}

nav,
ul {
    display: inline;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 1em;
    margin: 0 15px;
}

header nav ul li:hover {
    border: 1px solid #A8DADC;
    padding: 10PX 15PX;
}

header nav ul li a {
    color: #F1FAEE;
    font-size: 1.2em;
    font-weight: 700;
}

header .btn-cta-q {
    background-color: greenyellow;
    color: #000000;
    border-radius: 20px;
    font-weight: bold;
    margin: 6px 0;
    padding: 0.5em 1em;
    float: right;
}

header a.brand-name {
    font-size: 1.5em;
    font-weight: bold;
    float: left;
    padding: 0.4em 0;
}


/*home section*/

.Home-section {
    height: 100vh;
    padding-top: 4em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.Home-section-content {
    margin: 3em;
    font-family: 'Roboto', sans-serif;
    padding: 2em 4em;
}

.welcome-text {
    font-size: 1.5em;
    font-weight: 700;
    color: #457B9D;
    margin-bottom: 0;
    display: inline-block;
}

hr {
    display: inline-block;
    margin: 0 10px;
    background-color: #457B9D;
    width: 80px;
}

.Home-section h1 {
    font-size: 4em;
    margin: 0;
    background: linear-gradient(45deg, #457B9D, #FA0078 30.71%);
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Home-section h2 {
    color: #457B9D;
    font-size: 1em;
}

.btn-section {
    margin: 3em 0;
}

.Home-section img {
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .Home-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px;
    }
}


/*about section*/

.about-section {
    margin: 0 100px;
}

.about-section-content::before {
    content: "Who we are";
    font-weight: bolder;
    font-size: 100px;
    color: #eee;
}

.about-section-content {
    padding: 2em;
    margin: 50px 0;
    font-size: 1.2em;
}

.about-section-content p {
    padding: 10px 5px;
    margin-bottom: 0;
}

.about-hello {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
}

.about-section-content hr {
    display: inline-block;
    background-color: #457B9D;
    width: 80px;
}


/*services section*/

.container-services {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100%;
    padding: 60px 20px;
    height: 80vh;
}

.services-section {
    background: #201758;
    color: white;
}

.service-content {
    padding: 20px;
    margin: auto;
}

.service-content h2 {
    font-size: 36px;
}

.service-content h1 {
    font-size: 72px;
}

.service-content a {
    border: 1px solid #8BBACC;
    border-radius: 32px;
    color: #8BBACC;
    font-weight: bold;
    font-size: 20px;
}

.btn-button {
    padding: 10px 20px;
}

.service-each-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.service-each {
    margin: 10px;
    padding: 20px 30px;
    background-color: #0A0048;
    border-radius: 32px;
}

.service-each:hover {
    background: linear-gradient(146.63deg, #B821ED 21.94%, #610183 77.91%);
}


/*our clients section*/

.our-clients-section {
    padding: 20px 40px;
    text-align: center;
}

.our-clients-section h2 {
    margin-bottom: 0;
    font-size: 32px;
}

.clients-logos {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    padding: 20px 60px;
}

.clients-logos img {
    width: 150px;
    padding: 20px 30px;
}


/*cta action section*/

.cta-action-section {
    background-color: #201758;
    padding: 60px;
    color: white;
    display: grid;
    grid-template-columns: 60% repeat(2, 20%);
    background-image: linear-gradient(45deg, rgba(9, 73, 250, 0.6), rgba(253, 27, 27, 0.6)), url(../img/blog-img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.cta-action-section h2 {
    font-size: 24px;
}

.cta-action-section a {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.cta-action-section a:hover {
    box-shadow: 0px 5px 40px #efefef;
}


/*latest blog section*/

.blog-section {
    padding: 20px;
    text-align: center;
}

.blog-section h2 {
    margin-bottom: 0;
}

.articles-each {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog-post-card {
    padding: 20px;
}

.blog-post-card img {
    width: 416px;
    border-radius: 32px;
}

.blog-post-card p {
    text-align: justify;
    padding-bottom: 20px;
}


/*contact section*/

.contact-section {
    /* background-image: url('../img/blog-img-1.jpg'); */
}

.contact-title {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-title h2 {
    font-size: 3rem;
    margin-bottom: 0;
}

.contact-title p {
    margin-bottom: 0;
    margin-top: 0;
    color: #888;
}

.contact-form-section {
    padding: 20px 190px;
    margin-bottom: 100px;
}

input {
    font-size: 1em;
}

input[type='text'],
input[type='tel'],
input[type='email'] {
    width: 40%;
    height: 50px;
    padding: 10px 20px;
    background-color: #ECF2FA;
    border-radius: 32px;
    border: none;
    margin: 10px;
}

select {
    width: 43%;
    height: 75px;
    padding: 10px 20px;
    background-color: #ECF2FA;
    border-radius: 32px;
    border: none;
    margin: 10px;
    font-size: 1em;
}

select option {
    font-size: 1em;
    width: 40%;
}

textarea {
    padding: 20px;
    background-color: #ECF2FA;
    border-radius: 32px;
    border: none;
    margin: 10px;
    font-size: 1.5em;
}

input[type='submit'] {
    background: linear-gradient(260.4deg, #51459D 26.51%, #AE00EB 83.82%);
    color: #F1FAEE;
    padding: 1em 2em;
    border-radius: 32px;
    margin-right: 2em;
}


/*footer*/

footer {
    background-color: #1D3557;
    padding: 40px 40px 20px;
    text-align: center;
    color: whitesmoke;
}

footer .brand-name {
    padding-bottom: 20px;
}

.brand-name {
    font-size: 3.5em;
    margin-bottom: 0;
}

.brand-name span {
    color: #FA0078;
}

footer nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 16px 1em;
    margin: 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: whitesmoke;
}

footer nav ul li a:hover {
    border-bottom: 2px solid whitesmoke;
}

.copy-right {
    padding: 20px;
}

.icons-social {
    color: white;
    padding: 10px 16px;
}


/* fixed elements */

.back-to-top {
    font-size: 4em;
    background: linear-gradient(45deg, #457B9D, #FA0078 60.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: fixed;
    right: 0;
    bottom: 0;
}

.social-scroll {
    z-index: 10;
    position: fixed;
    right: 0;
    top: 100px;
    background-color: lightcyan;
}

.social-scroll a {
    display: block;
    padding: 16px;
}

.social-scroll-icons {
    color: #457B9D;
    font-size: 2.5em;
}